doctype html
html
  head
    title= title
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src="js/scripts.js")
    script(src='js/bootstrap.min.js')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')